<package-def>
     <class name="Конвертор" file="src/Классы/Конвертор.os"/>
     <class name="ДанныеКофигурации" file="src/Классы/ДанныеКофигурации.os"/>
     <class name="ДанныеПокрытия" file="src/Классы/ДанныеПокрытия.os"/>
     <module name="ПомошникЗаписи" file="src/Модули/ПомошникЗаписи.os"/>
     <module name="ПутиФайловКонфигурации" file="src/Модули/ПутиФайловКонфигурации.os"/>
</package-def>